/* static\css\accident.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* hide horizontal scroll */
  overflow-y: auto;   /* keep vertical scroll */
  display: flex;
  justify-content: center;
}


body {
  margin: 0;
  padding: 0;
  background-color: #90D2EF; /* Set your desired background */
  background-size: cover;
  font-family: Arial, sans-serif;
}

.spacer-box {
  width: 120px;  /* adjust width here */
  height: 10px;  /* adjust height here */
  /* border: solid black; */
}




.dashboard-wrapper {
  width: 400px; /* or desired fixed width */
  /* max-width: calc(100% - 20px); */
  max-width: 100%;
  margin: 10px;
  padding-bottom: 80px; /* for space above bottom-nav */
  box-sizing: border-box;
  overflow-y: auto;
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* Internet Explorer 10+ */
}

/* Chrome, Safari and Edge (WebKit) */
.dashboard-wrapper::-webkit-scrollbar {
  display: none;
}


.back-button {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1000;
  font-size: 20px;
}

.back-button a {
  color: #333;
  text-decoration: none;
}


.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dashboard-wrapper {
  width: 100%;
  max-width: 400px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.vertical-box {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.nested-box {
  flex: 1; /* Each takes 50% of parent height */
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid gray;
  margin: 5px;
}

.section-a {
  background-color: #d3f0ff; /* optional */
}

.section-b {
  background-color: #b0e0e6; /* optional */
}
