<!-- templates\earthquake-prep.html -->
<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="UTF-8">
      <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
       <!-- prevent user zoom on mobile browsers by controlling the viewport settings in your HTML -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <title>Fire Preparedness Tips - Baao Disaster Link</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

      <!-- Link to the CSS file in the static folder -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/fire-prep.css') }}">
      <script src="{{ url_for('static', filename='js/.js') }}" defer></script>
  </head>

  <body>
    <div class="page-container">
      <!-- Back Button -->
      <div class="back-button">
        <a href="/guide" title="Go Back">
          <i class="fas fa-arrow-left"></i>
        </a>
      </div>

    <div class="dashboard-wrapper">  
      <div class="vertical-box">
        <div class="nested-box section-a">
          <div class="image-container">
            <img src="{{ url_for('static', filename='images/house-fire.png') }}" alt="Emergency Kit" class="image-fit" />
          </div>
        </div>
        <div class="nested-box section-b">
          <div class="image-container">
            <img src="{{ url_for('static', filename='images/fire-ext.png') }}" alt="Emergency Kit" class="image-fit" />
          </div>
        </div>
      </div>
    </div>


    </div>
  </body>

  
</html>
