<!-- templates\guide.html -->
<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="UTF-8">
      <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
       <!-- prevent user zoom on mobile browsers by controlling the viewport settings in your HTML -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <title>Accident Prone Area - Baao Disaster Link</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

      <!-- Link to the CSS file in the static folder -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/guide.css') }}">
      <script src="{{ url_for('static', filename='js/guide.js') }}" defer></script>
  </head>

  <body>
    <div class="page-container">
      <!-- Back Button -->
      <div class="back-button">
        <a href="/home" title="Go Back">
          <i class="fas fa-arrow-left"></i>
        </a>
      </div>

    <div class="dashboard-wrapper">  
      <div class="vertical-box flex-grow">
        <div class="nested-box fixed-height all-side-padding add-background-white" style="--height: 10px;">
          System Guide
        </div>
        <div class="nested-box flex-grow">
            <div class="vertical-box outline-drop-shadow add-margin">
                <div class="nested-box  add-background-white fixed-dimension" id="disaster-prep">
                    <div class="horizontal-box  add-margin">
                        <div class="nested-box section">
                            <div class="image-container">
                                <img src="{{ url_for('static', filename='images/disaster-prep.webp') }}" alt="Disaster Preparedness Tips" class="image-fit" />
                            </div>

                        </div>
                        <div class="nested-box section">
                            <div class="multi-line-stack-container">
                                <span class="title-line">Disaster</span>
                                <span class="title-line">Preparedness</span>
                                <span class="title-line">Tips</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nested-box add-background-white fixed-dimension" id="fire-prep">
                    <div class="horizontal-box add-margin">
                        <div class="nested-box section">
                            <div class="image-container">
                                <img src="{{ url_for('static', filename='images/fire-prep.webp') }}" alt="Disaster Preparedness Tips" class="image-fit" />
                            </div>

                        </div>
                        <div class="nested-box section">
                            <div class="multi-line-stack-container">
                                <span class="title-line">Fire</span>
                                <span class="title-line">Preparedness</span>
                                <span class="title-line">Tips</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nested-box add-background-white fixed-dimension" id="earthquake-prep">
                    <div class="horizontal-box  add-margin">
                        <div class="nested-box section">
                            <div class="image-container">
                                <img src="{{ url_for('static', filename='images/earthquake-prep.webp') }}" alt="Disaster Preparedness Tips" class="image-fit" />
                            </div>

                        </div>
                        <div class="nested-box section">
                            <div class="multi-line-stack-container">
                                <span class="title-line">Earthquake</span>
                                <span class="title-line">Preparedness</span>
                                <span class="title-line">Tips</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>


    </div>
  </body>

  
</html>
