<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front - Baao Disaster Link</title>
    <!-- Link to the CSS file in the static folder -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <div class="dashboard-wrapper">

      <div class="intro-container">
        <h1 class="intro-title">BAAO DISASTERLINK</h1>
        <p class="intro-subtitle">Your Smart Guide to Safety and Preparedness.</p>
        <button class="start-button" onclick="startApp()">START</button>
      </div>  
    </div>
</html>
